.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:blueviolet;
    padding: 16px;
    border-radius: 8px;
    height: 50%;
    
}

.warning{
    display: flex;
    align-items: center;
    gap: 8px;
}